{% if ocp_iso_customize_kargs.bond is defined -%}  
{% for _dis_inter in ocp_iso_customize_kargs.disabled_interfaces | default([]) -%}ip={{ _dis_inter }}:off {% endfor %}{% for _bond in ocp_iso_kargs.bond %}bond={{ _bond.name }}:{{ _bond.ifaces }}:{{ _bond.bond_opts}} {% endfor %}ip={{ ocp_iso_customize_kargs.client_ip }}::{{ ocp_iso_customize_kargs.gw_ip }}:{{ ocp_iso_customize_kargs.netmask }}:{{ ansible_host }}:{{ ocp_iso_customize_kargs.interface }}:{{ ocp_iso_customize_kargs.autoconf }} nameserver={{ ocp_iso_customize_primary_dns }} nameserver={{ ocp_iso_customize_secondary_dns }}{% if ocp_iso_customize_output_type == 'minimal' %} coreos.live.rootfs_url={{ ocp_iso_customize_filer }}/{{_output_rootfs_name }}{% endif %}{% if item.extra_karg | default(false) %} {{ item.extra_karg }} {% endif %}
{% elif ocp_iso_customize_kargs.client_ip is defined -%}
{% for _dis_inter in ocp_iso_customize_kargs.disabled_interfaces | default([]) -%}ip={{ _dis_inter }}:off {% endfor %}ip={{ ocp_iso_customize_kargs.client_ip }}::{{ ocp_iso_customize_kargs.gw_ip }}:{{ ocp_iso_customize_kargs.netmask }}:{{ ansible_host }}:{{ ocp_iso_customize_kargs.interface }}:{{ ocp_iso_customize_kargs.autoconf }} nameserver={{ ocp_iso_customize_primary_dns }} nameserver={{ ocp_iso_customize_secondary_dns }}{% if ocp_iso_customize_output_type == 'minimal' %} coreos.live.rootfs_url={{ ocp_iso_customize_filer }}/{{_output_rootfs_name }}{% endif %}{% if item.extra_karg | default(false) %} {{ item.extra_karg }} {% endif %}
{% else -%}
{{ ocp_iso_customize_kargs | default(false) }}{% if ocp_iso_customize_output_type == 'minimal' %} coreos.live.rootfs_url={{ ocp_iso_customize_filer }}/{{_output_rootfs_name }}{% endif %}
{% endif %}